== javascript_include_tag 'vendor'
== javascript_include_tag 'application'

/[if (gte IE 6)&(lte IE 8)]
  == javascript_include_tag 'http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js'
  == javascript_include_tag 'selectivizr/selectivizr'


javascript:
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-161576-1']);
  _gaq.push(['_setDomainName', 'renatocarvalho.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
